.img {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    transform: perspective(1000px);

    &:hover,
    &:focus {
        box-shadow: 0 0.25em 0.25em 0 rgba(0, 0, 0, 0.05), 0 0.125em 1.875em 0 rgba(0, 0, 0, 0.09);
    }
}